# --- JUCE Specific ---
# A pasta Builds deve ser gerada localmente pelo Projucer/CMake
Builds/
JuceLibraryCode/

# Ficheiros de backup do Projucer
*.jucer_backup_autosave_*
*.jucer.backup_*

# --- IDE / OS Specific ---
# Visual Studio
.vs/
*.sdf
*.opensdf
*.suo
*.user
ipch/
Debug/
Release/
x64/

# Xcode / Mac
.DS_Store
*.macosx
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/

# CLion / CMake
cmake-build-*/
CMakeCache.txt
CMakeFiles/
.idea/

# --- VST / Audio ---
# Se tiveres samples de teste grandes, ignora-os
TestSamples/