# --- macOS ---
.DS_Store

# --- CLion / IDEs ---
.idea/
cmake-build-*/
CMakeLists.txt.user

# --- CMake (Build Artifacts) ---
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/
CMakeUserPresets.json

# --- JUCE ---
Builds/
JuceLibraryCode/
*.jucer

# --- Binários e Bibliotecas ---
*.o
*.obj
*.lib
*.dll
*.dylib
*.so
*.a